jupyterlab 
sentence-transformers 
langchain
langchain_milvus 
langchain-huggingface 
ollama 
langchain-ollama 
pypdf 
pymilvus
pymupdf
pdfplumber
python-docx
pandas
ipython



pdfplumber
ollama
RecursiveCharacterTextSplitter
OllamaEmbeddings
langchain-chroma
langchain-ollama 
PromptTemplate